<div id="<%= dom_id channel %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= channel.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Server:</strong>
    <%= channel.server_id %>
  </p>
</div>
