<div class="rounded-lg p-2 text-lg max-w-lg w-full flex gap-2"
  data-controller="message" 
  data-message-user-id-value="<%= message.user_id %>"
  data-message-current-user-class="bg-blue-500 text-blue-100 ml-auto"
  data-message-other-user-class="bg-gray-500 text-gray-100 mr-auto"
  data-auto-scroll-target="scroll"> 
  <%= image_tag(message.user.avatar, class: "w-10 h-10 object-cover rounded-full") if message.user.avatar.attached? %>
  <div class="flex flex-col">
    <p> <%= message.body %> </p>
    <span> sent by <%= message.user.username %></span>
  </div>
</div>