<div id="<%= dom_id server %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= server.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Owner:</strong>
    <%= server.owner_id %>
  </p>
</div>
